.App {
  text-align: center;
  width: 1440px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "RubikBold";
    src: url("./fonts/RubikBold/RubikBold.eot");
    src: url("./fonts/RubikBold/RubikBold.eot?#iefix")
        format("embedded-opentype"),
      url("./fonts/RubikBold/RubikBold.woff") format("woff"),
      url("./fonts/RubikBold/RubikBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }
}
@font-face {
  font-family: "BebasNeueThin";
  src: url("./fonts/BebasNeue/BebasNeue_Bold.otf");
  src: url("./fonts/BebasNeue/BebasNeue_Bold.otf?#iefix")
      format("embedded-opentype"),
    url("./fonts/BebasNeue/BebasNeue_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "BebasNeueC";
  src: url("./fonts/BebasNeue/BebasNeue_Regular.otf");
  src: url("./fonts/BebasNeue/BebasNeue_Regular.otf?#iefix")
      format("embedded-opentype"),
    url("./fonts/BebasNeue/BebasNeue_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "PTRootUI";
  src: url("./fonts/PTRootUI/PTRootUILight.eot");
  src: url("./fonts/PTRootUI/PTRootUILight.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/PTRootUI/PTRootUILight.woff") format("woff"),
    url("./fonts/PTRootUI/PTRootUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "PTRootUIBold";
  src: url("./fonts/PTRootUI/PTRootUIBold.eot");
  src: url("./fonts/PTRootUI/PTRootUIBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/PTRootUI/PTRootUIBold.woff") format("woff"),
    url("./fonts/PTRootUI/PTRootUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
